<!DOCTYPE html>
<html>
    <div>
        <a href="{{ url_for('home') }}"><b>COD Tracker</b></a>
        <a href="{{ url_for('leaderboards') }}">Global Leaderboard</a>
        <a href="{{ url_for('statSearch') }}">Stats Search</a>
        <a href="{{ url_for('login') }}">Login</a>
    </div>
    <hr>
    <head>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    </head>
    <body>
        {% block greeting %}{% endblock %}
        {% block content %}{% endblock %}
    </body>
</html>